
$text-color: #202124;;
$dark-tan: #926355;
$light-red: #BE8D7E;
$black: #000000;
$mine-shaft: #333333;
$steel: #666666;
$gray-color: #ABABAB;
$light-gray: #D6D6D6;
$gallery: #F0F0F0;
$romance: #FFFFFF;


$text-color-gray--lighter: #D6D6D6;
$dark-orange: #996152;

$dark-gray: #2c3238;
$light-red: #e93350;
$dark-red: #b91e37;
$semi-white: #d1dbe6;
$gray: #8c959b;
$light-gray: #f3f6f8;
$button-gray: #4f5c65;
$text-color-gray: #999999;

$inpex-primary: #1D41A2;
$inpex-secondary: #3F88C5;
$inpex-gray: #4F5C65;

$light-red: $inpex-primary;
$dark-red: $inpex-secondary;
