$font-family: "poppins", "Arial", sans-seref;
$base-font-size: 18px;

$space: 30px;
$space-one-fourth: $space * 0.25;
$space-one-third: $space * 0.33;
$space-half: $space * 0.5;
$space-two-third: $space * 0.66;
$space-double: $space * 2;
$space-triple: $space * 3;
$space-quadruple: $space * 4;

$content-width: 690px;
$content-width-wide: 1376px;
$content-width-full: 100%;

$top_menu_height: 60px;
$main_menu_height: 130px;

$margin_bottom_single_article: 150px;
